mpa_id_padding = 4
run_id_padding = 6

n_sigma_cut = 1.0
efficiency_histogram_resolution_factor = 8

output_dir = /scratch/vollmer/mpaAnalysisOutput
alignment_dir = /scratch/vollmer/mpaAnalysisOutput

mapsa_dir = /scratch/schell/MPAdata
track_dir = /scratch/vollmer/tbAnalysis/output

output_prefix =
pixel_mask = ../masks/mpa_inner_fiducal.mask

mapsa_data = @mapsa_dir@/run@MpaRun@_counter.txt_0
track_data = @track_dir@/csv/run@TelRun@-reftracks.csv

testbeam_dir = /scratch/vollmer/TestBeam2017/
testbeam_data = @testbeam_dir@/shifted/t_shifted@MpaRun@.root

e_beam = 5.4
gbl_resolution_tel_x = 0.0035
gbl_resolution_tel_y = 0.0035
gbl_resolution_ref_x = 0.048
gbl_resolution_ref_y = 0.022
gbl_resolution_mpa_x = 0.100
gbl_resolution_mpa_y = 1.446
gbl_max_tracks = 10000

angle_cut = 0.16
upstream_residual_cut = 0.1
downstream_residual_cut = 0.1
six_residual_cut = 0.15 #sdgfsd
six_kink_cut = 0.01
ref_residual_precut = 0.7
ref_residual_cut = 0.1
dut_residual_cut_x = 0.6
dut_residual_cut_y = 0.09
dut_x = 0
dut_y = 0
dut_z = 385
dut_phi = 0
dut_theta = 0
dut_omega = 90
dut_rot = 0
dut_plateau_x = 1

triplet_efficiency_res_x = 0.9
triplet_efficiency_res_y  = 0.15
triplet_efficiency_fiducial_min_x = 0
triplet_efficiency_fiducial_max_x = 16
triplet_efficiency_fiducial_min_y = 0
triplet_efficiency_fiducial_max_y = 3
triplet_efficiency_masked = 
# Phi -> Rotation around X
# Theta -> Rotation around Y
# Omega -> Rotation around Z
# X, Y, Z, Phi, Theta, Omega
#cmaes_parameters_init = 0 0 870 0.43625 0 0
cmaes_parameters_init = 0 0 870 0 0 0
#cmaes_parameters_low = -10 -10.0 800 -0.1570796 -0.1570796 -0.1570796
#cmaes_parameters_high = 10 10.0 900 0.1570796 0.1570796 0.1570796
cmaes_parameters_low = -10 -10.0 800 -1.570796 -1.570796 -1.570796
cmaes_parameters_high = 10 10.0 900 1.570796 1.570796 1.570796
cmaes_lambda = 0
cmaes_initial_sigma = 5
cmaes_elitism = 0
cmaes_max_iterations = 1000000
cmaes_parameter_init_from_alignment=0
cmaes_efficiency_sigma = 2.0

cmaes_force_status = 1
cmaes_allowed_exit_status = 1 10
cmaes_max_force_status_runs = 500
cmaes_param_preset_and_restrict = 0
cmaes_param_restrict_range = 10 10 100 0.3 0.3 0.3
# cmaes_param_init_select description:
#  0 use value from cmaes_parameters_init
#  1 set angle from runlist
cmaes_param_init_select = 0 0 0 1 0 0
